html {
    height: 100vh;
}
body {
    min-height: 100vh;
    overflow: hidden;
}

body
{
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
    font-size: 25px;
    color: white;
    background-image: url('../images/bg.jpg');    
}


.carousel-item, .carousel, .carousel-slider{
	min-height: 100vh;	
}

pre{
 font-size: 20px !important;
}